body {
  background-color: #EAF6F6;
}
hr {

  border-style: none;
  border-top-style: dotted;
  height: 5px;
  width: 5%;
  border-width: 5px;
  border-color: gray;
}

h1 {
  color: #66BFBF;
}
h2 {
  color: #66BFBF;
}
